@using ECommerce.DtoLayer.Dtos.AccountDto;
@model List<ResultUserDto>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="card-title">
    <h4>Üye Listesi</h4>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Adı Soyadı</th>
                <th>Kullanıcı Adı</th>
                <th>Mail Adresi</th>
                <th>Sil</th>
                <th>Detaylar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th>@count</th>
                    <td>@item.Name @item.Surname</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td><a href="/adminpanel/deleteuser/@item.UserName" class="btn btn-danger">Sil</a></td>
                    <td><a href="/adminpanel/userdetail/@item.UserName" class="btn btn-primary">Detaylar</a></td>
                </tr>
            }
        </tbody>

    </table>
</div>

