@using ECommerce.DtoLayer.Dtos.Employee;
@model List<ResultEmployeeDto>
@{
    ViewData["Title"] = "EmployeeList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-title">
    <h4>Çalışan Listesi</h4>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Adı Soyadı</th>
                <th>Görev Tanımı</th>
                <th>Açıklama</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>@item.Name @item.Surname</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td><a href="/adminpanel/deleteemployee/@item.Id" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/adminpanel/addemployee/" class="btn btn-primary" style="float:right">Çalışan Ekle</a>
</div>