@using ECommerce.DtoLayer.Dtos.Messages;
@model List<NewMessageNotificationViewModel>

@{
    string imageUrl;
    if (ViewBag.UserImage == null) { imageUrl = "/adminweb/images/profile/emptyProfile.png"; }
    else { imageUrl = ViewBag.UserImage; }
}

<div class="header">
    <div class="header-content clearfix">

        <div class="nav-control">
            <div class="hamburger">
                <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
        </div>
        <form action="/adminpanel/productlist" method="get" class="header-left">
            <div class="input-group icons">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                </div>
                <input type="search" class="form-control" name="searchTerm" placeholder="Arama">
            </div>
        </form>
        <div class="header-right">
            <ul class="clearfix">
                <li class="icons dropdown">
                    <a href="javascript:void(0)" data-toggle="dropdown">
                        <i class="mdi mdi-email-outline"></i>
                        @if (ViewBag.InboxCount != "0")
                        {
                            <span class="badge gradient-1 badge-pill badge-primary">@ViewBag.InboxCount</span>
                        }
                    </a>
                    <div class="drop-down animated fadeIn dropdown-menu">
                        <div class="dropdown-content-heading d-flex justify-content-between">
                            @if (ViewBag.InboxCount == "0")
                            {
                                <span class="">Yeni Mesajınız Bulunmamakta</span>
                            }
                            else
                            {
                                <span class="">@ViewBag.InboxCount Yeni Mesaj</span>
                            }
                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <hr />
                                @foreach (var item in Model)
                                {
                                    <li class="notification-unread">
                                        <a href="/adminpanel/messagedetail/@item.MessageId">
                                                <img class="float-left mr-3 avatar-img" src="@item.SenderUser.ImageUrl" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">@item.SenderUserName</div>
                                                    <div class="notification-timestamp">@item.Created.ToString("dd/MM/yy")</div>
                                                    <div class="notification-text">@item.Subject</div>
                                                </div>
                                        </a>
                                    </li>
                                    <hr />
                                }
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="icons dropdown">
                    <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                        <span class="activity active"></span>
                        <img src="@imageUrl" height="40" width="40" alt="">
                    </div>
                    <div class="drop-down dropdown-profile   dropdown-menu">
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="~/adminpanel/settings/profile"><i class="icon-user"></i> <span>Profil</span></a>
                                </li>
                                <li>
                                    <a href="/adminpanel/messages/inbox"><i class="icon-envelope-open"></i> <span>Gelen Kutusu</span> <div class="badge gradient-3 badge-pill badge-primary">@ViewBag.InboxCount</div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>