@using ECommerce.DtoLayer.Dtos.Comment;
@model List<CommentsByProductViewModel>



<div class="bor10 m-t-50 p-t-43 p-b-40">
    <!-- Tab01 -->
    <div class="tab01">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item p-b-10">
                <a class="nav-link active" data-toggle="tab" href="#reviews" role="tab">Yorumlar (@ViewBag.count)</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content p-t-43">
            <div class="tab-pane fade show active" id="reviews" role="tabpanel">
                <div class="row">
                    <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                        <div class="p-b-30 m-lr-15-sm">
                            <!-- Review -->
                            @if (ViewBag.count != 0)
                            {
                                @foreach (var item in Model)
                                {

                                        string imageUrl;
                                        if (item.User.ImageUrl == null) { imageUrl = "/adminweb/images/profile/emptyProfile.png"; }
                                        else { imageUrl = item.User.ImageUrl; }
                                   
                                    <div class="flex-w flex-t p-b-68">
                                        <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
                                            <img src="@imageUrl" alt="AVATAR">
                                        </div>

                                        <div class="size-207">
                                            <div class="flex-w flex-sb-m p-b-17">
                                                <span class="mtext-107 cl2 p-r-20">
                                                    @item.User.UserName
                                                </span>
                                            </div>

                                            <p class="stext-102 cl6">
                                                @item.CommentText
                                            </p>
                                        </div>
                                    </div>

                                }
                            }
                            @if (User.Identity.Name != null)
                            {
                                <!-- Add review -->
                                <form asp-action="AddComment" asp-controller="Product" method="post" class="w-full">
                                    <h5 class="mtext-108 cl2 p-b-7">
                                        Yorum Ekle
                                    </h5>

                                    <p class="stext-102 cl6">
                                        E-Posta adresiniz paylaşılmayacaktır.
                                    </p>


                                    <div class="row p-b-25">
                                        <div class="col-12 p-b-5">
                                            <label class="stext-102 cl3" for="review">Yorumunuz</label>
                                            <textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" id="review" name="review"></textarea>
                                        </div>
                                    </div>

              
                                    <input type="hidden" value="@ViewBag.id" name="productId">

                                    <button class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10">
                                        Gönder
                                    </button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
