@using ECommerce.DtoLayer.Dtos.Order;
@using X.PagedList;
@using X.PagedList.Mvc.Common;
@model IPagedList<OrderWithUserViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-title">
	<h4>Sipariş Listesi</h4>
</div>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Sipariş Tarihi</th>
				<th>Ad Soyad</th>
				<th>Toplam Fiyat</th>
				<th>Detay</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<th>@item.Id</th>
					<td>@item.OrderDate </td>
					<td>@item.User.Name @item.User.Surname </td>
					<td>$@item.TotalAmount </td>
					<td><a href="/adminpanel/orders/orderdetail/@item.Id" class="btn btn-warning">Detay</a></td>
				</tr>
			}
		</tbody>
	</table>
	@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new {page}),
	new X.PagedList.Web.Common.PagedListRenderOptions {
	LiElementClasses = new string[] { "page-item" },
	PageClasses = new string[] { "page-link" }
	})
	</div>

