@model ResultProductDto
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sec-product-detail bg0 p-t-65 p-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-7 p-b-30">
				<div class="p-l-25 p-r-30 p-lr-0-lg">
					<div class="wrap-slick3 flex-sb flex-w">
						<div class="slick3 gallery-lb">
							<div class="item-slick3" data-thumb="images/product-detail-01.jpg">
								<div class="wrap-pic-w pos-relative">
									<img src="@Model.Image" alt="IMG-PRODUCT">

									<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@Model.Image">
										<i class="fa fa-expand"></i>
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-5 p-b-30">
				<div class="p-r-50 p-t-5 p-lr-0-lg">
					<h4 class="mtext-105 cl2 js-name-detail p-b-14">
						@Model.Name
					</h4>
					<span class="mtext-106 cl2">
						@Model.Price₺
					</span>
					<p class="stext-102 cl3 p-t-23">
						@Model.Description
					</p>
					<div class="flex-w flex-r-m p-b-10">
						<div class="size-204 flex-w flex-m respon6-next">
							<div class="wrap-num-product flex-w m-r-20 m-tb-10">
								<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
									<i class="fs-16 zmdi zmdi-minus"></i>
								</div>

								<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

								<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
									<i class="fs-16 zmdi zmdi-plus"></i>
								</div>
							</div>

							<button onclick="addToCart(@Model.Id)" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
								Sepete Ekle
							</button>
						</div>
					</div>


				</div>
			</div>
		</div>
		@await Component.InvokeAsync("CommentsForProducts", new {id = Model.Id})

	</div>	
</section>

<script>
	function addToCart(productId) {
		var quantity = 1; // Varsayılan miktarı isteğinize göre ayarlayın
		$.ajax({
			url: '/Cart/AddToCart', // Ürünü eklemek için çağrılacak Action'ın URL'si
			type: 'POST',
			data: { productId: productId, quantity: quantity },
			success: function (result) {
				// Başarılı bir şekilde sepete eklendiğinde yapılacak işlemler
				refreshCart();
			},
			error: function () {
				// Hata durumunda yapılacak işlemler
			}
		});
	}
</script>

